<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if request.user.is_authenticated %}
                        <li>
                            <a href={% url "show_my_tasks" %}>My Tasks</a>
                        </li>
                        <li>
                            <a href={% url "list_projects" %}><i>My Projects</i></a>
                        </li>
                        <li>
                            <a href={% url "logout" %}><i>Logout</i></a>
                        </li>
                    {% else %}
                        <li>
                            <a href={% url "login" %}>Login</a>
                        </li>
                        <li>
                            <a href={% url "signup" %}>Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>SignUp</h1>
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="username">
                </input>
            </br>
            <input type="password" name="password">
        </input>
    </br>
    <input type="password_confirmation" name="password_confirmation">
</input>
</br>
<button type=submit>SignUp</button>
</form>
</div>
</main>
</body>
</html>
