<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Details</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if request.user.is_authenticated %}
                        <li>
                            <a href={% url "show_my_tasks" %}>My Tasks</a>
                        </li>
                        <li>
                            <a href={% url "list_projects" %}><i>My Projects</i></a>
                        </li>
                        <li>
                            <a href={% url "logout" %}><i>Logout</i></a>
                        </li>
                    {% else %}
                        <li>
                            <a href={% url "login" %}>Login</a>
                        </li>
                        <li>
                            <a href={% url "signup" %}>Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <form method="post">
                    <h1>Create a new task</h1>
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>Name:</td>
                            <td>
                                <input type="text" name="name">
                            </input>
                        </td>
                    </tr>
                    <tr>
                        <td>Start date:</td>
                        <td>
                            <input type="text" name="start_date">
                        </input>
                    </td>
                </tr>
                <tr>
                    <td>Due date:</td>
                    <td>
                        <input type="text" name="due_date">
                    </input>
                </td>
            </tr>
            <tr>
                <td>Project:</td>
                <td>
                    <select name="project">
                        <option value="" selected>
                            ---
                        </option>
                        {% for projects in task_projects_lists %}
                            <option value={{ projects.id }}>{{ projects.name }}
                            </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Assignee:</td>
                <td>
                    <select name="assignee">
                        <option value="" selected>
                            ---
                        </option>
                        {% for assignee in tasks_assignee_lists %}
                            <option value={{ assignee.id }}> {{ assignee.username }}
                            </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <button>Create</button>
                </td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
</main>
</body>
</html>
