<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>lists</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if request.user.is_authenticated %}
                        <li>
                            <a href={% url "show_my_tasks" %}>My Tasks</a>
                        </li>
                        <li>
                            <a href={% url "list_projects" %}><i>My Projects</i></a>
                        </li>
                        <li>
                            <a href={% url "logout" %}><i>Logout</i></a>
                        </li>
                    {% else %}
                        <li>
                            <a href={% url "login" %}>Login</a>
                        </li>
                        <li>
                            <a href={% url "signup" %}>Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>My Tasks</h1>
                <form method="post">
                    {% csrf_token %}
                    {% if task_list|length > 0 %}
                        <table>
                            <tr>
                                <th>Name</th>
                                <th>Start date</th>
                                <th>Due date</th>
                                <th>Is completed</th>
                            </tr>
                            {% for task in task_list %}
                                <tr>
                                    <td>{{ task.name }}</td>
                                    <td>{{ task.start_date }}</td>
                                    <td>{{ task.due_date }}</td>
                                    <td>
                                        {% if task.is_completed %}
                                            yes
                                        {% else %}
                                            no
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>"You have no tasks"</p>
                    {% endif %}
                </form>
            </div>
        </main>
    </body>
</html>
