<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if request.user.is_authenticated %}
                        <li>
                            <a href={% url "show_my_tasks" %}>My Tasks</a>
                        </li>
                        <li>
                            <a href={% url "list_projects" %}><i>My Projects</i></a>
                        </li>
                        <li>
                            <a href={% url "logout" %}><i>Logout</i></a>
                        </li>
                    {% else %}
                        <li>
                            <a href={% url "login" %}>Login</a>
                        </li>
                        <li>
                            <a href={% url "signup" %}>Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>Create a new project</h1>
                <form method="post">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>Name:</td>
                            <td>
                                <input type="text" name="name">
                            </input>
                        </td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td>
                            <textarea name="description" rows="4" cols="50"></textarea>
                        </input>
                    </td>
                </tr>
                <tr>
                    <td>Owner:</td>
                    <td>
                        <select name="owner">
                            <option selected>
                                ---
                            </option>
                            {% for list in  user_lists %}
                                <option value={{ list.id }}>{{ list.username }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <button type="submit">Create</button>
            </table>
        </form>
    </div>
</main>
</body>
</html>
