<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>lists</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if request.user.is_authenticated %}
                        <li>
                            <a href={% url "show_my_tasks" %}>My Tasks</a>
                        </li>
                        <li>
                            <a href={% url "list_projects" %}><i>My Projects</i></a>
                        </li>
                        <li>
                            <a href={% url "logout" %}><i>Logout</i></a>
                        </li>
                    {% else %}
                        <li>
                            <a href={% url "login" %}>Login</a>
                        </li>
                        <li>
                            <a href={% url "signup" %}>Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>My Projects</h1>
                <div>
                    <p>
                        <a href={% url 'create_project' %}>Create a new project</a>
                    </p>
                </div>
                {% if not Project_list %}
                    <p>"You are not assigned to any projects"</p>
                {% else %}
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                        {% for list in Project_list %}
                            <tr>
                                <td>
                                    <a href={% url 'show_project' list.id %}>{{ list.name }}</a>
                                </td>
                                <td>{{ list.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </main>
    </body>
</html>
